.not-found {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin-top: 2em;
  border-radius: 0.5em;
  width: 50%;
}
h3,
a {
  color: #feffff;
}
a {
  background-color: rgba(66, 157, 209, 0.7);
  padding: 0.5em;
  border-radius: 0.2em;
}
