.details-container {
  width: 98%;
  height: 75vh;
  overflow: hidden;
  margin: 2em auto;
  margin-top: 2em;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  text-align: center;
  overflow-y: scroll;
}
h3 {
  margin-top: 2em;
}
h3,
p,
a {
  color: #feffff;
}
img {
  object-fit: contain;
  overflow: hidden;
}
.course-img {
  float: left;
  width: 50%;
}
.course-info {
  padding: 1em;
  position: relative;
  padding-bottom: 5%;
}
.user-container {
  position: absolute;
  bottom: 0;
  right: -1%;
  overflow: hidden;
  float: right;
  width: 49%;
}
button {
  display: inline;
  border: none;
  color: #feffff;
  padding: 1em 2em;
  border-radius: 0.2em;
  margin: 0 1em;
}
a p {
  text-decoration: underline;
  display: inline;
  position: absolute;
  bottom: 0;
  left: 10%;
  margin-left: 1em;
}
.user-img {
  margin-bottom: 1em;
  width: 10%;
  float: left;
}
.another-user,
.creator {
  margin-top: 2em;
}
.blue-btn {
  background-color: rgba(66, 157, 209, 0.7);
}
.red-btn {
  background-color: red;
}
h4 {
  color: #feffff;
}
.form-content {
  float: right;
  width: 38%;
  margin-right: 5.5%;
  margin-top: 2em;
}
