.home {
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0, auto;
  text-align: center;
  padding: 24px;
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.auth-buttons {
  margin-top: 24px;
}
a,
p,
h2 {
  color: #def2f1;
}
a {
  background-color: rgba(66, 157, 209, 0.7);
  padding: 0.5em;
  margin-right: 48px;
  border-radius: 0.2em;
}
a:hover {
  
  background-color: rgba(48, 137, 189, 0.7);
  transition: 0.5s;
}
#discussion-link{
 margin-right: 0px;
}